- if @show_facebox_actions
  %h3 Comments  
  %br
= render :partial => "collection", :locals => {:items => collection}
- if @show_facebox_actions
  .block
    %input.close{:type=>"button", :value=>"Close", :class=>"button index-comments-close"}
    %br
    %br
:javascript
  $(".index-comments-close").click(function() {
    $(document).trigger("close.facebox");
  });
 
