.locations.collection_edit
  td.name input
    width: 120px
    padding: 2px
  td.long_name input
    width: 120px
    padding: 2px
  td.tags .list span:first-child
    font-style: italic
  .comments-container
    display: none
  #category_switcher
    width: 476px
  .change
    margin-right: 105px
    margin-left: 15px
  .change select
    float: right
  td.category select
    width: 300px
  td.status select
    width: 100px
    font-size: 10px
    padding: 2px
  td.remove-tag-action *
    position: relative
    left: -20px