.locations.collection_edit
  td.name input
    width: 120px
    padding: 2px
  td.long_name input
    width: 120px
    padding: 2px
  td.tags .list span:first-child
    font-style: italic
  .comments-container
    display: none
  #category_switcher
    width: 476px
  .change
    margin-right: 105px
    margin-left: 15px
  .change select
    float: right
  td.category select
    width: 300px
  td.status select
    width: 100px
    font-size: 10px
    padding: 2px
  td.remove-tag-action *
    position: relative
    left: -20px

.locations.index
  .coordinates.portlet
    .portlet-content
      min-height: 311px
      max-height: 311px
      overflow-y:  scroll

.locations.index .block_sub span {font-weight: bold; margin-right: 20px}
.locations.index table.main td.name img {position: relative; top: 3px; margin-right: 3px}
.locations.index table.main th.added_by {width: 80px}
.locations.index table.main th.date_added {width: 80px}
.locations.index table.main th.tags {width: 120px}
.locations.index table.main th.last_changed {width: 95px}
.locations.index table.main th.status {width: 95px}

.locations.edit
  .coordinates.portlet
    .portlet-content
      height: 170px

.locations.edit #history-tab {margin-top: 10px}
.locations.edit #history-tab p {padding-bottom: 3px}
.locations.edit #history-tab ul {padding-bottom: 5px}
.locations.edit  #actions {margin-top: 15px}
.locations.edit .general_info {width: 400px; float: left}
.locations.edit .ajax-action {margin-top: 3px}
.locations.edit .ajax-action img {position: relative; top: 3px}
.locations.edit .right-panel {margin-top: 7px; width: 417px; float: right}
.locations a.tag_delete {position: relative; top: 3px}

.locations .editor fieldset {border-width: 0}
.locations .editor fieldset ol {padding-left: 0}
.locations .editor .submit input {padding: 2px; background-color: #444; margin-right: 3px; margin-top: 3px; color: white; font-weight: bold; border: 1px solid #222}
.locations .editor .submit input:hover {cursor: pointer; color: #008EE8}
.locations .editor .ui-tabs-hide {display: none}
.locations .editor .tags .list span {margin-right: 5px}
.locations .editor .map-instructions {font-style: italic; font-size: 10px; text-align: center}
.locations .editor .right-panel table td, .locations.editor .right-panel table th {border-bottom-width: 0 ! important}
.locations .editor .right-panel table tr {background-color: transparent ! important}
.locations .editor .right-panel table {width: 100%; margin-top: -15px}