.portlet
  .portlet-header
    = title
  .portlet-content.nopadding{:style=>"overflow-y: scroll; height: 100px"}
    %table.main
      %tbody
        - for user in @all_users
          %tr
            %td.selector{:style=>"width: 20px"}
              %input{:type=>"checkbox", :value=>user[1], :name => "s[#{field_title}][]"}
            %td
              = user[0]