= content_for :title, "Place Lookup"

.block
  .block_head
    %h2 Place Lookup
  .block_content
    #portlets
      .portlet.map
        .portlet-header
          Search
        .portlet-content.nopadding
          .content{:style=>"padding: 10px; padding-top: 20px"}
            %input#query{:type=>"textbox", :style=>"padding: 3px; width: 400px"}
            #query-info{:style=>"background-color: rgb(203, 235, 185); padding: 3px; border: 1px solid green; font-weight: bold; margin-top: 15px; display: none"}
            %table#query-results{:style=>"width: 100%; margin-top: 10px"}
              %thead
                %th Name
                %th City
                %th Country
              %tbody


  :javascript
    $(document).ready(function() {
      var info = $("#query-info");
      var results = $("#query-results tbody");
      $("#query").bind('keyup', function() {
        if ($(this).val().length > 3) {
          $.getJSON('/search/lookup?q=' + $(this).val(), function(data) {
            if (data.length == 100) {
              info.show().html("More than 100 places were found containing the query string. Only 100 have been shown.");
            } else {
              info.hide();
            }
            var html = "";
            for(var i = 0; i < data.length; i++) {
              html = html + "<tr><td><a href='/locations/" + data[i].id + "/edit'>"
                      + data[i].name + "</a></td><td>" + data[i].city + "</td><td>" + data[i].country + "</td></tr>";
            }
            results.html(html);
          });
        }
        else {
          info.show().html("A minimum of 3 chars must be entered before a lookup is made.");
        }

      });
    });
