= content_for :title, "Partners"

.block
  .block_head
    %h2
      Partners
      = link_to "New Partner", "#", :class=> "heading-action"
  .block_content
    #portlets
      .bulk-actions
        %select
          %option Bulk Actions
          %option Delete
        %input.button{:type=>"button", :value=>"Apply"}
      .clear
      .portlet
        .portlet-header
          Listing
        .portlet-content.nopadding
          %table
            %tbody
              %tr
                %th.selector
                  %input{:type=>"checkbox"}
                %th Name
              - @partners.each do |partner|
                %tr
                  %td
                    %input{:type=>"checkbox"}
                  %td= link_to partner.name, edit_partner_path(partner)


