
@font-face {
	font-family: 'TitilliumRegular';
	src: url('/assets/images/admin/fonts/TitilliumText1.eot');
	src: local('/assets/images/admin/fonts/Titillium Regular'), local('/assets/images/admin/fonts/Titillium-Bold'), url('/assets/images/admin/fonts/TitilliumText1.ttf') format('truetype');
}

@font-face {
	font-family: 'Titillium250';
	src: url('/assets/images/admin/fonts/TitilliumText250wt.eot');
	src: local('/assets/images/admin/fonts/Titillium 250 wt'), local('/assets/images/admin/fonts/Titillium-250wt'), url('/assets/images/admin/fonts/TitilliumText250wt.ttf') format('truetype');
}

@font-face {
	font-family: 'Titillium400';
	src: url('/assets/images/admin/fonts/TitilliumText400wt.eot');
	src: local('/assets/images/admin/fonts/Titillium 400 wt'), local('/assets/images/admin/fonts/Titillium-400wt'), url('/assets/images/admin/fonts/TitilliumText400wt.ttf') format('truetype');
}

@font-face {
	font-family: 'Titillium600';
	src: url('/assets/images/admin/fonts/TitilliumText600wt.eot');
	src: local('/assets/images/admin/fonts/Titillium 600 wt'), local('/assets/images/admin/fonts/Titillium-600wt'), url('/assets/images/admin/fonts/TitilliumText600wt.ttf') format('truetype');
}

@font-face {
	font-family: 'Titillium800';
	src: url('/assets/images/admin/fonts/TitilliumText800wt.eot');
	src: local('/assets/images/admin/fonts/Titillium 800 wt'), local('/assets/images/admin/fonts/Titillium-800wt'), url('/assets/images/admin/fonts/TitilliumText800wt.ttf') format('truetype');
}

@font-face {
	font-family: 'Titillium999';
	src: url('/assets/images/admin/fonts/TitilliumText999wt.eot');
	src: local('/assets/images/admin/fonts/Titillium 999 wt'), local('/assets/images/admin/fonts/Titillium-999wt'), url('/assets/images/admin/fonts/TitilliumText999wt.ttf') format('truetype');
}

@font-face {
	font-family: 'TitilliumTitle';
	src: url('/assets/images/admin/fonts/Titillium_title03.eot');
	src: local('/assets/images/admin/fonts/TitilliumTitle01 Thin'), local('/assets/images/admin/fonts/TitilliumTitle01-Thin'), url('/assets/images/admin/fonts/Titillium_title03.ttf') format('truetype');
}

