@import url(admin/style.css);
@import url(admin/jquery.wysiwyg.css);
@import url(admin/facebox.css);
@import url(admin/visualize.css);
@import url(admin/date_input.css);
@import url(admin/formtastic.css);

/* .locations.edit */

.locations.edit .block_sub a {margin-right: 5px}
.locations.edit fieldset {border-width: 0}
.locations.edit fieldset ol {padding-left: 0}
.locations.edit .submit input {padding: 2px; background-color: #444; margin-right: 3px; margin-top: 3px; color: white; font-weight: bold; border: 1px solid #222}
.locations.edit .submit input:hover {cursor: pointer; color: #008EE8}
.locations.edit #edit-location-tabs .block_content {padding-bottom: 30px; position: relative; top: -15px}
.locations.edit #edit-location-tabs ul {margin-left: -30px}
.locations.edit #edit-location-tabs ul li:first-child {margin-left: 30px}
.locations.edit #edit-location-tabs ul li {float: left; list-style-type: none; font-weight: bold; background-image: none; margin-right: 20px}
.locations.edit .ui-tabs-hide {display: none}
.locations.edit .tags .list span {margin-right: 5px}
.locations a.tag_delete {position: relative; top: 3px}
.locations.edit .map-instructions {font-style: italic; font-size: 10px; text-align: center}
.locations.edit .right-panel table td, .right-panel table th {border-bottom-width: 0 ! important}
.locations.edit .right-panel table tr {background-color: none ! important}
.locations.edit .right-panel table {width: 100%; margin-top: -15px}

/* .locations.index */

.locations.index .block_sub span {font-weight: bold; margin-right: 20px}
.locations.index table.main td.name img {position: relative; top: 3px; margin-right: 3px} 
.locations.index table.main th.city {}
.locations.index table.main th.added_by {width: 80px}
.locations.index table.main th.date_added {width: 80px}
.locations.index table.main th.tags {width: 120px}
.locations.index table.main th.last_changed {width: 95px}
.locations.index table.main th.status {width: 95px}

/* .index */

.index table {width: 100%; border-collapse: collapse}
.index td.view, .index th.view {width: 22px}
.index td.count, .index th.count {width: 90px; text-align: center}
.index table td.edit, .index table td.delete, .index table td.history {width: 22px; }
.index .block_head .back {padding-right: 10px}
.index table td, .index table th {font-size: 11px}
.index .checked {width: 60px; text-align: right; border-right: 1px solid #ccc; padding-right: 10px; padding-left: 3px}
.index .corrected {width: 70px; text-align: right; padding-left: 3px; padding-right: 5px}
.index .total_POI, .index .audited, .index .invalid, .index .new {width: 44px; text-align: right; padding-left: 5px; padding-right: 5px}
.index .new {padding-right: 12px}
.index .uncategorized {width: 62px; font-style: italic; text-align: right}
.index .level {min-width: 98px}
.index table tfoot td {font-weight: bold}

/* #search-parameters */

#search-parameters { padding: 20px; display: block; margin-bottom: 10px; }
#search-parameters input { padding: 5px; width: 195px; }
#search-parameters input .button { width: auto; }
#search-parameters select { padding: 5px; width: 206px; }

/* Others */

.block_sub {height: 30px; background-color: #777; padding-left: 30px; color: white; line-height: 30px; width: 952px; left: -10px; position: relative}
.block_sub a {color: white}
.block_sub a:hover {color: orange}
.change_status #location_status {padding: 1px; width: 200px; font-size: 10px}
.block_content {width: 920px}
.block .block_content ol {padding-bottom: 0}
.styled_select {-moz-border-radius:3px 3px 3px 3px; background:none repeat scroll 0 0 #FEFEFE; border:1px solid #BBBBBB; color:#333333; font-family:"Lucida Grande",Verdana,sans-serif; font-size:14px; outline:medium none; padding:7px; vertical-align:middle; width:410px }
.block table.layout tr td, .block table.layout tr th { border-bottom-width: 0; line-height:normal; padding:10px; text-align:left; background-color: white ! important}

.olControlScaleLineTop {
  border: 1px solid white;
  clear: both;
  float: right;
  text-align: center;
  border-top: medium none; }

.olControlScaleLineBottom {
  border: 1px solid white;
  clear: both;
  float: right;
  text-align: center;
  border-bottom: medium none;
  margin-top: -1px; }

.olControlScaleLine {
  bottom: 25px;
  float: right;
  font-size: xx-small;
  right: 10px; }

.olPopup {
  padding: 7px;
  border: 1px solid #434343 !important;
  text-align: center !important;
  color: #434343 !important; }

