<h1>1. Critères</h1>
<hr class="divider" />

<input type="text" />
  <input type="submit" value="Rechercher" />
 <br/>
  <div class="cutoff-warning"></div>
  <div class="list-of-locations">
    <h1 style="margin-top: 20px">2. Points of interest</h1>
    <hr class="divider"/>
    <ul class="content"></ul>
    <div style="padding-top: 10px; float: right" class="page_navigation"></div>
  </div>

<script type="text/javascript">
  $(document).ready(function() {

  });
</script>

<style type="text/css">

  #localization input[type="text"] {width: 280px; padding: 2px; border: 1px solid #bbb}

</style>