<h1>1. Critères</h1>
<hr class="divider" />

<input type="text" />
  <input type="submit" value="Rechercher" />

<style type="text/css">

  #localization input[type="text"] {width: 280px; padding: 2px; border: 1px solid #bbb}

</style>