<h1>1. Départ</h1>
<hr class="divider" />
<input type="text" />
 <input type="submit" value="Rechercher" />

<div style="margin-top: 40px">
  <h1>2. Arrivée</h1>
  <hr class="divider" />
  <input type="text" />
  <input type="submit" value="Rechercher" />
</div>

<style type="text/css">

  #routing input[type="text"] {width: 280px; padding: 2px; border: 1px solid #bbb}

</style>