<div class="tabs">
  <ul>
    <li><a href="#locations"><span class="name">Annuaire</span></a></li>
    <li><a href="#localization"><span class="name">Localisation</span></a></li>
    <li><a href="#routing" class="tab"><span class="name">Routage</span></a></li>
  </ul>
</div>