<div id="commercial-links">
  <div style="float: left; position: relative; top: -5px; font-weight: bold">Liens Commerciaux</div>
  <div id="inline_google_ad_1" style="float: left"></div>
  <div id="inline_google_ad_2"></div>
</div>
<div id="bottom-menu">
  <div id="bottom-logo"><a href="/" class="sprites global bottom-logo"></a></div>
  <div id="bottom-panels">
    <div class="bottom-panel">
      <h2>Produits</h2>
      <ul>
        <li><a href="/content/products/navigation">Navigation GPS</a></li>
        <li><a href="/content/products/tramigo">Tramigo</a></li>
        <li><a href="/content/products/maps">Cartes</a></li>
      </ul>
    </div>
    <div class="bottom-panel">
      <h2>Services</h2>
      <ul>
        <li><a href="/content/services/gis">Carte th&eacute;matique</a></li>
        <li><a href="/content/services/online">Carte en ligne</a></li>
      </ul>
    </div>
    <div class="bottom-panel">
      <h2>A Propos</h2>
      <ul>
        <li><a href="/content/about/team">L'&eacute;quipe</a></li>
        <li><a href="/content/about/recruitment">Recrutement</a></li>
        <li><a href="/news_items/list">Actualit&eacute;s</a></li>
      </ul>
    </div>
    <div class="bottom-panel">
      <h2>Extras</h2>
      <ul>
        <li><a href="/content/extras/partners">Partenaires</a></li>
        <li><a href="/content/extras/terms">Mentions l&eacute;gales</a></li>
      </ul>
    </div>
    <div class="bottom-panel yellow-panel">
      <h2>Contactez-nous</h2>
      <p>Pour en savoir plus sur 0-One, n'hesitez pas nous envoyer <a style="text-decoration: underline" href="/info_requests/new">un message</a>!</p>
    </div>
  </div>
</div>
