#search-bar
  .wrapper
    %form{:method=>"get", :action=> action, :style=>"padding-top: 17px"}
      %h1{:style=>"float: left; color: #434343; margin-left: 20px; width: 140px"}
        = title
      %input{:type=>"text", :id=>"s[name]", :name=>"s[name]"}
      %button#submit.nodropdown
        %div
          =image_tag "search_white.png"
