#pagination-wrapper
  - unless collection.nil? || collection.empty?
    = select_tag "pages", options_for_select([ "10", "20", "50", "100", "1000", "5000"], params[:per_page])
    = will_paginate collection, :params => @params, :outer_window => 1, :inner_window => 1, :class => "paggination"
    %span#pagination-counter
      = page_entries_info(collection)

.clear
.clear
.page-size

- content_for :javascripts do
  :javascript
    $(document).ready(function() {
      $("#pages").change(function() {
        window.location = $.param.querystring(window.location.href, {per_page: $(this).val(), page: 1});
      });
    });