
.tab-contents
  #faceboxmap
  #basic
    %label Name
    %input#name{:type=>"text", :style =>"width: 230px"}
    %label City
    = select_tag "city", options_for_select([""] + City.dropdown_items), :style=>"width: 240px"
    %label Status
    = select_tag "status", options_for_select(workflow_actions(current_user)), :style=>"width: 240px"
    %label Category
    = select_tag "category", options_for_select([""] + Category.dropdown_items), :style=>"width: 240px"
  #geo-details
.clear
.actions
  %button.blue-button
    %div
      Accept

:css
  #faceboxmap {float: left; width: 300px; border: 1px solid black; height: 500px; margin-right: 15px; margin-left: -5px}
  #geo-details {float: left; width: 200px}
