
#mappanel
.clear{:style=>"height: 10px"}

%ul
  - location.boundaries.each do |boundary|
    %li
      %label= boundary[1][:classification]
      = boundary[1][:name]
%ul
  %li
    %label Latitude
    %span= location.latitude
  %li
    %label Longitude
    %span= location.longitude
.clear
