.feature.portlet
  .portlet-header
    Feature
    %span
      = link_to "Save", "#"
  .portlet-content
    = semantic_form_for object do |form|
      = form.input :long_name, :input_html => {:class => "text"}



