.tab-contents
  %form
    %label
      Long Name
    %input#long_name{:type=>"text"}
    %label
      Email
    %input#email{:type=>"text"}
    %label
      Telephone
    %input#telephone{:type=>"text"}
    %label
      Fax
    %input#fax{:type=>"text"}
    %label
      Website
    %input#website{:type=>"text"}
    %label
      Postal Address
    %input#postal_address{:type=>"text"}
    %label
      Geographical Address
    %input#geographical_address{:type=>"text"}
    %label
      Opening Hours
    %input#opening_hours{:type=>"text"}
    %label
      User Rating
    %input#user_rating{:type=>"text"}
    %label
      Acronym
    %input#acronym{:type=>"text"}
    %label
      Miscellaneous
    %textarea#miscellaneous
  .clear
  .warning
.actions
  %button.blue-button
    %div
      Accept
:css
  label.error {color: red ! important}
  input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"], textarea {width: 550px}