.tab-contents
  %form
    %label
      Long Name
    %input#long_name{type: "text", name: "long_name"}
    %label
      Email
    %input#email{:type=>"text", name: "email"}
    %label
      Telephone
    %input#telephone{:type=>"text", name: "telephone"}
    %label
      Fax
    %input#fax{:type=>"text", name: "fax"}
    %label
      Website
    %input#website{:type=>"text", name: "website"}
    %label
      Postal Address
    %input#postal_address{:type=>"text", name: "postal_address"}
    %label
      Geographical Address
    %input#geographical_address{:type=>"text", name: "geographical_address"}
    %label
      Opening Hours
    %input#opening_hours{:type=>"text", name: "opening_hours"}
    %label
      User Rating
    %input#user_rating{:type=>"text", name: "user_rating"}
    %label
      Acronym
    %input#acronym{:type=>"text", name: "acronym"}
    %label
      Miscellaneous
    %textarea#miscellaneous{name: "miscellaneous"}
  .clear
  .warning
.actions
  %button.blue-button
    %div
      Accept
:css
  label.error {color: red ! important}
  input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="url"], input[type="password"], textarea {width: 550px}