.map.portlet.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  .portlet-header.ui-widget-header.ui-corner-top
    Map
    %span{:style=>"float: right; display: none"}
      = link_to "Save", "#"
      |
      = link_to "Cancel", "#"
  .portlet-content.nopadding
    #mappanel{:style=>"height: 311px; width: 100%"}