.map.portlet
  .portlet-header
    Map
    %span
      = link_to "Save", "#"
      |
      = link_to "Cancel", "#"
  .portlet-content.nopadding
    #mappanel
.map-footer
  .contents
  .tab
    = link_to "Info", "#"
.clear{:style=>"height: 15px"}