.portlet.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
  .portlet-header.ui-widget-header.ui-corner-top
    Categories
    = link_to "(+)", "#/category/add", :style => "float: right"
  .portlet-content
    %div.tags
      .list{:class=>"tags_for_#{object.id}"}
        = render :partial => "tags/collection", :locals => {:items => object.tags.map {|c| {:name => c.category.french, :delete_link => location_tag_url(c.location_id, c.id)}}}
    :css
      .tags .list span:first-child {font-style: italic}
