.portlet
  .portlet-header
    Categories
    %span
      = link_to "(+)", "#/category/add"
  .portlet-content
    %div.tags
      .list{:class=>"tags_for_#{object.id}"}
        = render :partial => "tags/collection", :locals => {:items => object.tags.map {|c| {:name => c.category.french, :delete_link => location_tag_url(c.location_id, c.id)}}}
    :css
      .tags .list span:first-child {font-style: italic}
