<div>
  <% for (var i = 0; i < comments.length; i++) { %>
    <h4><%= comments[i].user %> | <%= comments[i].created_at %></h4>
    <p><%= comments[i].text %></p>
  <% } %>
  <textarea />
  <a class="accept" href="#/comments/<%= location_id %>/accept">Accept</a>
  <a class="cancel" href="#/cancel">Cancel</a>
  <div>
    <h3>Preset Comments</h3>
    <p>Invalid location</p>
    <p>Duplicate name</p>
  </div>
</div>

