%li.tags
  %label 
    Categories
    = link_to "(+)", new_location_tag_url(object), :rel => "facebox"
  .list{:class=>"tags_for_#{object.id}"}

:css
  .tags .list span:first-child {font-style: italic}
