.olControlScaleLine
  right: 10px
  bottom: 10px
  font-size: 9px

.olControlScaleLineBottom
  padding: 0px 2px
  border-top: 1px solid black
  display: none
  border-left: 2px solid black
  border-right: 2px solid black

.olControlScaleLineTop
  padding: 0px 2px
  border-bottom: 2px solid black
  border-left: 2px solid black
  border-right: 2px solid black


