=table-cell
  border-bottom: 1px solid #ddd
  padding: 10px
  line-height: normal
  text-align: left

table
  border-collapse: collapse
  width: 100%
  text-align: left
  margin-bottom: 15px
  th.selector
    width: 15px
  tr td
    +table-cell
  tr th
    +table-cell
