.block_content
  #portlets
    = semantic_form_for object, :html => { :enctype => "multipart/form-data"} do |form|
      .portlet
        .portlet-header
          =t('listing')
        .portlet-content
          = form.input :name, :input_html => { :class => "text", :style=>"width: 890px" }
      .clear
      .form_commit
        = form.commit_button

