.block_content
  #portlets
    = form_for object, :html => { :enctype => "multipart/form-data"} do |form|
      = form.text_field 'name', :class => "text", :style=>"width: 860px; margin-bottom: 10px"
      .clear
      .form_commit
        = submit_tag


