= content_for :title, "Edit City"

.block
  .block_head
    %h2
      Edit City
    %a{:style=>"float: right; font-size: 11px", :href=> cities_path(page: params[:page], per_page: params[:per_page])}
      = image_tag("Helveticons-394.gif", :style=>"height: 20px; position: relative; top: 8px")
      Back
  = render :partial => "form"
