= content_for :title, t('new_city')

.block
  .block_head
    %h2
      =t('new_city')
      = link_to t('back'), cities_path(page: params[:page], per_page: params[:per_page])
  = render :partial => "form"