= content_for :title, "Edit Category"

.block
  .block_head
    %h2
      Edit Category
      = link_to "Back", categories_path
  .block_content
    = semantic_form_for object, :html => { :enctype => "multipart/form-data"} do |form|
      = render :partial => "form", :locals => {:form => form}