= content_for :title, t('edit_category')

- content_for :javascripts do
  = javascript_include_tag "/assets/mvc/categories/edit/init", :debug => Rails.env.development?

.block
  .block_head
    %h2
      =t('edit_category')
      = link_to t('back'), categories_path(page: params[:page], per_page: params[:per_page])
  = render :partial => "form"