= content_for :title, "New Category"

.block
  .block_head
    %h2
      New Category
      = link_to "Back", categories_path, :class=> "heading-action"
  .block_content
    = render :partial => "form"
