= content_for :title, "New Category"

- content_for :javascripts do
  = javascript_include_tag "mvc/categories/edit/init", :debug => Rails.env.development?

.block
  .block_head
    %h2
      New Category
    %a{:style=>"float: right; font-size: 11px", :href=> categories_path(page: params[:page], per_page: params[:per_page])}
      = image_tag("Helveticons-394.gif", :style=>"height: 20px; position: relative; top: 8px")
      Back
  = render :partial => "form"