#canvas-features {
  padding-left: 0;
  margin-top: 0; }
  #canvas-features li {
    border-top: 1px solid #cccccc;
    padding: 5px 5px 3px;
    list-style-type: none; }
  #canvas-features a {
    color: #434343;
    font-weight: normal;
    text-decoration: none;
    float: left; }
    #canvas-features a.center-button {
      font-size: 10px;
      color: #715012; }
    #canvas-features a.zoom {
      width: 250px; }
    #canvas-features a.show-button {
      font-size: 10px;
      color: green; }
  #canvas-features li.odd {
    background-color: #eaeaea;
    border-left: 1px solid #cccccc; }
  #canvas-features li img {
    float: right;
    margin-left: 5px;
    border-width: 0; }

#canvas .simplePagerNav {
  padding-left: 0;
  padding: 6px;
  height: 18px;
  margin: 10px 0;
  clear: left;
  color: #494949;
  font-size: 11px; }
  #canvas .simplePagerNav li {
    float: left;
    list-style-type: none;
    margin-right: 5px; }
  #canvas .simplePagerNav a {
    display: block;
    float: left;
    padding: 0.1em 0.3em;
    margin-right: 0.3em;
    color: #434343; }
  #canvas .simplePagerNav .currentPage a {
    border: 1px solid #dddddd;
    font-weight: bold;
    color: black;
    background-color: #efefef; }
  #canvas .simplePagerNav a {
    border: 1px solid #cccccc;
    text-decoration: none;
    background-color: white; }
    #canvas .simplePagerNav a:hover {
      border-color: #333333; }
    #canvas .simplePagerNav a.nextprev {
      font-weight: bold; }
  #canvas .simplePagerNav .nextprev-next {
    float: right; }
#canvas .news-item {
  clear: both;
  padding-top: 20px;
  border-bottom: 1px solid #cccccc; }
  #canvas .news-item img {
    float: left;
    margin-right: 10px; }
  #canvas .news-item p {
    width: 170px;
    margin-top: 0;
    margin-left: 110px; }

#canvas-header {
  border: 1px solid #5eb252;
  background-color: #bae4b5;
  color: #222222;
  border-right-width: 0;
  padding: 5px 5px 5px;
  border-bottom-width: 2px; }

#canvas.widescreen {
  width: 100%;
  height: inherit;
  padding-bottom: 30px;
  background-color: #efefef; }

#canvas-products li {
  margin-top: 0;
  padding-left: 20px;
  background-color: #f4f2ee !important;
  float: left;
  width: 293px; }
  #canvas-products li a {
    text-decoration: none;
    font-weight: bold;
    color: black; }
  #canvas-products li img {
    border: 1px solid white; }
