#dashboard {
  width: 749px;
  float: left;
  overflow: hidden; }
  #dashboard .panel {
    height: 161px;
    padding: 20px;
    overflow: hidden; }

#dashboard-navigation {
  margin-left: 0;
  padding-left: 0; }
  #dashboard-navigation li {
    width: 77px;
    height: 23px;
    padding-top: 16px;
    float: left;
    list-style-type: none;
    margin-right: 40px; }
    #dashboard-navigation li a {
      color: #434343;
      font-weight: bold;
      text-decoration: none; }

.ui-state-default {
  float: left;
  margin-right: 40px;
  list-style-type: none; }
  .ui-state-default a {
    text-decoration: none;
    font-weight: bold;
    color: #434343; }

.ui-tabs-hide {
  display: none !important; }

.ui-autocomplete {
  position: absolute;
  background-color: white;
  z-index: 9999 !important;
  border: 1px solid #434343;
  padding-left: 0; }
  .ui-autocomplete li {
    list-style-type: none;
    line-height: 18px;
    padding-left: 5px; }
    .ui-autocomplete li:hover {
      cursor: pointer;
      background-color: #efefef; }

#panel-shop h2 {
  font-size: 14px; }

.shop-product-range a {
  color: black; }
  .shop-product-range a.current, .shop-product-range a:hover {
    color: white; }

#panel-routing label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px; }
#panel-routing .ui-endpoint {
  float: left;
  margin-right: 20px; }
#panel-routing .ui-input {
  width: 230px; }
#panel-routing .submit {
  margin-top: 10px; }

#panel-localization label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px; }
#panel-localization .ui-endpoint {
  float: left;
  margin-right: 20px; }
#panel-localization .ui-input {
  width: 540px; }
#panel-localization .submit {
  margin-top: 10px; }

#category-list {
  min-height: 98px;
  display: block;
  margin-left: 10px;
  margin-top: -10px !important; }
  #category-list a {
    font-size: 12px; }
  #category-list .icon img {
    border-width: 0;
    width: 22px;
    position: relative;
    top: 10px; }

#category-list-nav {
  margin-top: 30px;
  margin-left: 10px; }

#panel-index ul {
  width: 100%;
  margin: 12px;
  padding: 0;
  list-style: none; }
#panel-index li {
  float: left;
  margin: 0 10px 0 0;
  width: 225px;
  padding: 0;
  line-height: 20px; }
  #panel-index li a {
    text-decoration: none;
    font-weight: bold;
    color: white; }
    #panel-index li a:hover {
      color: #565656; }
  #panel-index li.ln-no-match {
    width: 400px !important;
    color: white;
    font-weight: bold; }

.ln-letters a {
  font-size: 0.9em;
  float: left;
  padding: 2px 8px;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  border-right: none;
  text-decoration: none; }
  .ln-letters a.ln-last {
    border-right: 1px solid silver; }
  .ln-letters a:hover, .ln-letters a.ln-selected {
    background-color: #777777; }
  .ln-letters a.ln-disabled {
    color: #cccccc; }

.ln-letter-count {
  display: none;
  visibility: hidden;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  top: 300px !important;
  margin-bottom: 3px;
  color: white; }

#category-list a.icon {
  background: url(/images/google-map-sprites.png) no-repeat top left;
  margin-top: 6px;
  display: block;
  float: left; }

.sprite-google-airport {
  background-position: 0 0 !important;
  width: 22px;
  height: 25px; }

.sprite-google-aquarium {
  background-position: 0 -30px !important;
  width: 22px;
  height: 25px; }

.sprite-google-audio {
  background-position: 0 -60px !important;
  width: 22px;
  height: 25px; }

.sprite-google-bank {
  background-position: 0 -90px !important;
  width: 22px;
  height: 25px; }

.sprite-google-bigcity {
  background-position: 0 -120px !important;
  width: 22px;
  height: 25px; }

.sprite-google-bus {
  background-position: 0 -150px !important;
  width: 22px;
  height: 25px; }

.sprite-google-car {
  background-position: 0 -180px !important;
  width: 22px;
  height: 25px; }

.sprite-google-casino {
  background-position: 0 -210px !important;
  width: 22px;
  height: 25px; }

.sprite-google-cathedral {
  background-position: 0 -240px !important;
  width: 22px;
  height: 25px; }

.sprite-google-cemetary {
  background-position: 0 -270px !important;
  width: 22px;
  height: 25px; }

.sprite-google-church {
  background-position: 0 -300px !important;
  width: 22px;
  height: 25px; }

.sprite-google-cinema {
  background-position: 0 -330px !important;
  width: 22px;
  height: 25px; }

.sprite-google-clothes {
  background-position: 0 -360px !important;
  width: 22px;
  height: 25px; }

.sprite-google-club {
  background-position: 0 -390px !important;
  width: 22px;
  height: 25px; }

.sprite-google-company {
  background-position: 0 -420px !important;
  width: 22px;
  height: 25px; }

.sprite-google-computer {
  background-position: 0 -450px !important;
  width: 22px;
  height: 25px; }

.sprite-google-conference {
  background-position: 0 -480px !important;
  width: 22px;
  height: 25px; }

.sprite-google-convenience {
  background-position: 0 -510px !important;
  width: 22px;
  height: 25px; }

.sprite-google-dentist {
  background-position: 0 -540px !important;
  width: 22px;
  height: 25px; }

.sprite-google-drugs {
  background-position: 0 -570px !important;
  width: 22px;
  height: 25px; }

.sprite-google-fastfood {
  background-position: 0 -600px !important;
  width: 22px;
  height: 25px; }

.sprite-google-findjob {
  background-position: 0 -630px !important;
  width: 22px;
  height: 25px; }

.sprite-google-firemen {
  background-position: 0 -660px !important;
  width: 22px;
  height: 25px; }

.sprite-google-fitnesscenter {
  background-position: 0 -690px !important;
  width: 22px;
  height: 25px; }

.sprite-google-gazstation {
  background-position: 0 -720px !important;
  width: 22px;
  height: 25px; }

.sprite-google-golf {
  background-position: 0 -750px !important;
  width: 22px;
  height: 25px; }

.sprite-google-hairsalon {
  background-position: 0 -780px !important;
  width: 22px;
  height: 25px; }

.sprite-google-home {
  background-position: 0 -810px !important;
  width: 22px;
  height: 25px; }

.sprite-google-hospital {
  background-position: 0 -840px !important;
  width: 22px;
  height: 25px; }

.sprite-google-hotel {
  background-position: 0 -870px !important;
  width: 22px;
  height: 25px; }

.sprite-google-info {
  background-position: 0 -900px !important;
  width: 22px;
  height: 25px; }

.sprite-google-justice {
  background-position: 0 -930px !important;
  width: 22px;
  height: 25px; }

.sprite-google-library {
  background-position: 0 -960px !important;
  width: 22px;
  height: 25px; }

.sprite-google-military {
  background-position: 0 -990px !important;
  width: 22px;
  height: 25px; }

.sprite-google-modernmonument {
  background-position: 0 -1020px !important;
  width: 22px;
  height: 25px; }

.sprite-google-monastery {
  background-position: 0 -1050px !important;
  width: 22px;
  height: 25px; }

.sprite-google-monument {
  background-position: 0 -1080px !important;
  width: 22px;
  height: 25px; }

.sprite-google-mosque {
  background-position: 0 -1110px !important;
  width: 22px;
  height: 25px; }

.sprite-google-parking {
  background-position: 0 -1140px !important;
  width: 22px;
  height: 25px; }

.sprite-google-photo {
  background-position: 0 -1170px !important;
  width: 22px;
  height: 25px; }

.sprite-google-police {
  background-position: 0 -1200px !important;
  width: 22px;
  height: 25px; }

.sprite-google-postal {
  background-position: 0 -1230px !important;
  width: 22px;
  height: 25px; }

.sprite-google-restaurant {
  background-position: 0 -1260px !important;
  width: 22px;
  height: 25px; }

.sprite-google-restaurantitalian {
  background-position: 0 -1290px !important;
  width: 22px;
  height: 25px; }

.sprite-google-restaurantkorean {
  background-position: 0 -1320px !important;
  width: 22px;
  height: 25px; }

.sprite-google-restaurantmediterranean {
  background-position: 0 -1350px !important;
  width: 22px;
  height: 25px; }

.sprite-google-sailboat {
  background-position: 0 -1380px !important;
  width: 22px;
  height: 25px; }

.sprite-google-school {
  background-position: 0 -1410px !important;
  width: 22px;
  height: 25px; }

.sprite-google-skiing {
  background-position: 0 -1440px !important;
  width: 22px;
  height: 25px; }

.sprite-google-smallcity {
  background-position: 0 -1470px !important;
  width: 22px;
  height: 25px; }

.sprite-google-snow {
  background-position: 0 -1500px !important;
  width: 22px;
  height: 25px; }

.sprite-google-soccer {
  background-position: 0 -1530px !important;
  width: 22px;
  height: 25px; }

.sprite-google-subway {
  background-position: 0 -1560px !important;
  width: 22px;
  height: 25px; }

.sprite-google-supermarket {
  background-position: 0 -1590px !important;
  width: 22px;
  height: 25px; }

.sprite-google-textiles {
  background-position: 0 -1620px !important;
  width: 22px;
  height: 25px; }

.sprite-google-theater {
  background-position: 0 -1650px !important;
  width: 22px;
  height: 25px; }
  .sprite-google-theater .sprite-google-tools {
    background-position: 0 -1680px !important;
    width: 22px;
    height: 25px; }
  .sprite-google-theater .sprite-google-train {
    background-position: 0 -1710px !important;
    width: 22px;
    height: 25px; }
  .sprite-google-theater .sprite-google-university {
    background-position: 0 -1740px !important;
    width: 22px;
    height: 25px; }
  .sprite-google-theater .sprite-google-vet {
    background-position: 0 -1770px !important;
    width: 22px;
    height: 25px; }
  .sprite-google-theater .sprite-google-wifi {
    background-position: 0 -1800px !important;
    width: 22px;
    height: 25px; }
  .sprite-google-theater .sprite-google-windturbine {
    background-position: 0 -1830px !important;
    width: 22px;
    height: 25px; }
