.sprite-map {
  background: url(/images/map.sprites.png); }

.sprite-global {
  background: url(/images/global.sprites.png); }

.sprite-global-top-logo {
  background-position: 944px 0;
  width: 207px;
  height: 131px;
  float: left; }

.sprite-global-banner {
  background-position: 615px 0;
  width: 615px;
  height: 90px;
  float: right; }

.sprite-global-bottom-logo {
  background-position: -545px 0;
  width: 122px;
  height: 66px;
  display: block;
  margin-left: 9px; }

.sprite-map-award {
  width: 200px;
  height: 200px;
  background-position: -20px 0;
  display: block; }

.sprite-map-arrow {
  width: 20px;
  height: 20px;
  background-position: 0 0;
  float: right;
  display: block; }

.sprite-map-row1 {
  width: 97px;
  height: 68px;
  background-position: -15px 68px;
  float: left;
  display: block; }

.sprite-map-row2 {
  width: 97px;
  height: 68px;
  background-position: -111px 68px;
  float: left;
  display: block; }

.sprite-map-row3 {
  width: 97px;
  height: 68px;
  background-position: -209px 68px;
  float: left;
  display: block; }

.sprite-map-info {
  width: 20px;
  height: 20px;
  background-position: 0 -22px;
  float: right;
  display: block;
  margin-right: 5px;
  position: relative;
  top: -1px; }

.sprite-map-dashboard {
  background-position: -220px 0;
  float: left;
  display: block;
  width: 709px; }

.sprite-map-loader {
  background-position: -311px 68px;
  float: left;
  display: block;
  width: 209px;
  height: 13px; }
