= content_for :title, "Show Entire Map"
= render :partial => "shared/mapping_scripts"

.block
  .block_head
    %h2 0-One Digital Map
  .block_content
    #map

:css
  #map {width: 100%; height: 500px; border: 1px solid #ccc; margin-bottom: 20px; margin-top: 10px; background-color: #6699cc}

:javascript
  var map;
  $(document).ready(function() {
    var options = {
      element: "map",
      urls: ["http://localhost/cgi-bin/mapserv?map=/var/www/mapserver/mapfiles/geocms.map"],
      resolutions: [
          0.05,
          0.025,
          0.0125,
          0.00625,
          0.003125,
          0.0015625,
          0.00078125,
          0.000390625,
          0.0001953125,
          0.00009765625,
          0.000048828125,
          0.0000244140625,
          0.0000122070313,
          0.0000061035156,
      ],
       mapOptions: {
        bounds: 0,
        maxExtent: new OpenLayers.Bounds(-25, -5, 15, 25),
        restrictedExtent: new OpenLayers.Bounds(-20, 0, 10, 20)
      },
      layers: ["road-labels", "countries", "water", "roads-other", "roads-type-5", "roads-type-4", "roads-type-3", 
        "roads-type-2", "roads-type-1"]
    };
    var map = new SingleFeatureMap(options);
  });
