= content_for :title, "Show Entire Map"
= render :partial => "shared/mapping_scripts"

.block
  .block_head
    %h2 0-One Digital Map
  .block_content
    #map

:css
  #map {width: 100%; height: 500px; border: 1px solid #ccc; margin-bottom: 20px; margin-top: 10px}

:javascript
  var map;
  $(document).ready(function() {
    var params = {
      resolutions: [
          0.05,
          0.025,
          0.0125,
          0.00625,
          0.003125,
          0.0015625,
          0.00078125,
          0.000390625,
          0.0001953125,
          0.00009765625,
          0.000048828125,
          0.0000244140625
      ],
      isBaseLayer: true,
      buffer: 0
    };
    var mapOptions = {
      buffer: 0,
      maxExtent: new OpenLayers.Bounds(-25, -5, 15, 25),
      restrictedExtent: new OpenLayers.Bounds(-20, 0, 10, 20)
    };
    var options = {
      map_imagetype: "png",
      layers: ["road-labels", "countries", "roads-far", "roads-close"],
      format: "aggpng24",
      transparent: "false",
      buffer: 0
    };
    var url = "http://xkcd.codeifier.com/cgi-bin/mapserv?map=/var/www/mapserver/mapfiles/geocms.map";
    OpenLayers.ImgPath = "/images/OpenLayers/";
    map = new OpenLayers.Map( 'map', mapOptions );
    layer = new OpenLayers.Layer.WMS( "OpenLayers WMS", [url], options, params);
    map.addLayer(layer);
    map.events.on({
      "zoomend": function() { 
      if (console) console.debug("Map.getResolution(): " + map.getResolution());
      if (console) console.debug("Map.getScale(): " + map.getScale());  
      if (console) console.debug("Map.getZoom(): " + map.getZoom())
      }
    });
    map.zoomToMaxExtent();
    if (console) console.debug("Map.getNumZoomLevels(): " + map.getNumZoomLevels()); 
    <!--var map = new SingleFeatureMap({element: "map"}); -->     
  });
